<div class="container d-flex align-items-center justify-content-center vh-100 mt-4">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="col-md-6">
        <div class="card-body">
          <%= simple_form_for @pet, html: { class: 'form-horizontal' } do |f| %>
            <%= f.input :name %>
            <%= f.input :price %>
            <%= f.input :species, collection: ["dog", "cat", "bird", "snake"]%>
            <%= f.input :breed %>
            <%= f.input :description %>
            <%= f.label :birthday, class: 'control-label' %>
            <%= f.date_field :birthday, class: 'form-control', max: Date.today %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, class: 'form-control' %>
            <%= f.input :vaccinated_against %>
            <%= f.submit "Submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
