<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-4">
      <h3>Find Your Perfect Pet</h3>
        <% if params[:search][:pet] || params[:search][:address] %>
          <% if params[:search][:pet] && params[:search][:address] %>
            <%= "Your search for #{params[:search][:pet]} in #{params[:search][:address] } showed #{@pets.count} results" %>
          <% elsif params[:search][:address] %>
            <%= "Your search for #{params[:search][:address]} showed #{@pets.count} results" %>
          <% else %>
            <%= "Your search for #{params[:search][:pet]} showed #{@pets.count} results" %>
          <% end %>
        <% end %>
    </div>
    <div class="col-11">
      <% @pets.each do |pet| %>
        <div class="petcard card mb-4">
          <%= link_to pet_path(pet) do%>
            <%= cl_image_tag pet.photos.first.key, crop: :fill, class: "card-img-top" %>
          <%end%>
          <div class="card-body">
            <p class="mb-1"><strong>Name:</strong> <span class="text-muted"><%= pet.name %></span></p>
            <p class="mb-1"><strong>Age:</strong> <span class="text-muted"><%= age(pet.birthday) %></span></p>
            <p class="mb-1"><strong>Species:</strong> <span class="text-muted"><%= pet.species %></span></p>
            <p class="mb-1"><strong>Address:</strong> <span class="text-muted"><%= pet.user.address %></span></p>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
