<div class="bg-white pb-3">
  <%= link_to :back, class: "text-decoration-none text-dark rounded-5 m-1" do%>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M5.354 2.646a.5.5 0 0 1 0 .708L2.707 7H12.5a.5.5 0 0 1 0 1H2.707l2.647 2.646a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0z"/>
    </svg>
    Back
  <%end%>
</div>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @pet.photos.each_with_index do |photo, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: 'd-block w-100' %>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <% end %>
</div>


  <h3 class="color-details text-center title-show banner-radius pt-2 pb-2 mb-4">Détails</h3>
<div class="container">
  <div class="card bg-white rounded-5" style="max-width: 540px;">
    <div class="card-header bg-transparent border-bottom pt-4">
      <p class="text-muted mb-2"><%= @pet.description %></p>
    </div>
    <div class="card-body">

      <div class="row mb-2">
        <div class="col-sm-6 fw-bold">Pets name</div>
        <div class="col-sm-6 text-sm-end"><%= @pet.name %></div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-6 fw-bold">Breed</div>
        <div class="col-sm-6 text-sm-end"><%= @pet.breed %></div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-6 fw-bold">Birthday</div>
        <div class="col-12 col-sm-6 text-start"><%= @pet.birthday.strftime("%d/%m/%Y") %></div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-6 fw-bold">Vaccinated</div>
        <div class="col-sm-6 text-sm-end"><%= @pet.vaccinated_against %></div>
      </div>

      <p class="text-end fw-bold mt-3 border-bottom pb-2"><%= @pet.price %> CHF</p>

      <% if current_user && current_user == @pet.user %>
        <div class="d-flex justify-content-end mt-3">
          <%= button_to 'Edit', edit_pet_path(@pet), class: "btn btn-primary me-2" %>
          <%= button_to 'Delete', pet_path(@pet), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      <% end %>
            <div>
      <% unless current_user.breeder && @pet.user == current_user%>
      <div class="row justify-content-center">
      <div class="col-10 mt-5">
          <%= simple_form_for [@pet, @request] do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :message %>
      <div class="form-group">
        <%= f.label :visit_date %>
        <%= f.date_field :visit_date, value: Date.current, min: Date.current, discard_year: false, discard_month: false, discard_day: false, class: 'form-control' %>
      </div>
      <div class="form-group mt-2">
        <%= f.label :visit_time %>
        <%= f.time_select :visit_time, minute_step: 30, ignore_date: true, class: 'form-control' %>
      </div>

          <%= f.button :submit, class: "btn btn-dark btn-block d-flex mt-4" %>
        <% end %>
      </div>
    </div>
</div>
    </div>
  </div>
<% end %>
</div>
    </div>
  </div>
</div>
