<div class="bg-white">
  <a href="<%= pets_path %>" class="text-decoration-none text-dark rounded-5 m-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M5.354 2.646a.5.5 0 0 1 0 .708L2.707 7H12.5a.5.5 0 0 1 0 1H2.707l2.647 2.646a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0z"/>
    </svg>
    Back
  </a>
</div>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @pet.photos.each_with_index do |photo, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: 'd-block w-100' %>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <% end %>
</div>


<div>
  <h3 class="pt-2 text-center title-show">Détails</h3>
</div>

<div class="container bg-white">
  <p class="pt-0"><%= @pet.description %></p>
  <div class="row pt-4">
    <div class="col pl-2 pl-2">
      <p>Pets name</p>
    </div>
    <div class="col text-end">
      <p><%= @pet.name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Breed</p>
    </div>
    <div class="col text-end">
      <p><%= @pet.breed %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Birthday</p>
    </div>
    <div class="col text-end">
      <p><%= @pet.birthday %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Vaccinated Agains</p>
    </div>
    <div class="col text-end">
      <p><%= @pet.vaccinated_against %></p>
    </div>
  </div>

  <p class="text-end pt-3">Price: <%= @pet.price %></p>
  <% if current_user && current_user == @pet.user %>
  <p>
    <%= link_to 'Edit', edit_pet_path(@pet) %> |
    <%= link_to 'Delete', pet_path(@pet), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
</div>

<div class="container bg-white">
  <h2 class="text-center pt-5">Visit Requests</h2>
  <div class="row justify-content-center">
    <div class="col-10 pt-3">
      <%= simple_form_for [@pet, @request] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :message %>
        <%= f.date_field :visit_date, minute_step: 30, discard_seconds: true %>
        <%= f.button :submit, class: "btn btn-dark btn-block d-flex" %>
      <% end %>
    </div>
  </div>
</div>
</div>
