
<div class="container search-gird pt-4 pb-4" id="banner-radius">
  <h1>Safe and lasting friendship</h1>
 <p>Connect with trusted breeders and rescues</p>

  <div class="input-color p-4 rounded-5">
    <%# <div class="input-group flex-nowrap"> %>
      <%# <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass" style="color: #ffbd59;"></i></span> %>
        <%= simple_form_for :search, url: pets_path, method: :get do |f| %>
          <%= f.input :pet, label: 'Pet', placeholder: "Find your perfect companion" %>
          <%= f.input :address, label: 'Address', placeholder: "Location"%>
          <%= f.button :submit, "Search" %>
        <% end %>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between pet-filters mx-3">
  <%= link_to pets_path(species: "cat") do %>
    <div class="d-flex flex-column justify-content-center">
      <i class="fa-solid fa-cat" style="color: #ffbd59;"></i>
      <span class="text-center">Cats</span>
    </div>
  <% end %>
  <%= link_to pets_path(species: "dog") do %>
    <div class="d-flex flex-column justify-content-center">
      <i class="fa-solid fa-dog" style="color: #ffbd59;"></i>
      <span class="text-center">Dogs</span>
    </div>
  <% end %>
  <%= link_to pets_path(species: "bird") do %>
    <div class="d-flex flex-column justify-content-center">
      <i class="fa-solid fa-dove" style="color: #ffbd59;"></i>
      <span class="text-center">Birds</span>
    </div>
  <% end %>
  <%= link_to pets_path(species: "snake") do %>
    <div class="d-flex flex-column justify-content-center">
      <i class="fa-solid fa-staff-snake" style="color: #ffbd59;"></i>
      <span class="text-center">Snakes</span>
    </div>
  <% end %>
</div>

<div class="container mt-4 mb-4 pt-2 pb-2 ">
  <%= image_tag("Banner1.png", class: "img-fluid") %>
  <p class="text-center mt-2 fw-medium">At HappyPets our top priority is safety and the welfare of all pets</p>
</div>

<div class="d-flex flex-column align-items-center justify-content-center p-3 banner1 m-3 rounded-5 mt-4 mb-4">
  <%= image_tag('dog-cat.jpg', alt: 'Dog and Cat', class: 'rounded-circle mb-3', style: 'width: 150px; height: 150px; object-fit: cover;') %>
  <h3 class="text-center">Trust and Peace of Mind</h3>
  <p class="text-center">Connect with verified breeders and responsible buyers on a secure platform</p>
</div>

<div class="d-flex flex-column align-items-center justify-content-center p-3 banner1 m-3 rounded-5 mt-4 mb-4">
  <%= image_tag('close-up-woman-holding-cocker-spaniel.jpg', alt: 'Woman Holding Cocker', class: 'rounded-circle mb-3', style: 'width: 150px; height: 150px; object-fit: cover;') %>
  <h3 class="text-center">Find Your Perfect Companion</h3>
  <p class="text-center">Discover lifelong pet companionship with trusted breeders and rescues</p>
</div>

<div class="d-flex flex-column align-items-center justify-content-center p-3 banner1 m-3 rounded-5 mt-4 mb-4">
  <%= image_tag('mother-with-son-dog.jpg', alt: 'Mother with Son and Dog', class: 'rounded-circle mb-3', style: 'width: 150px; height: 150px; object-fit: cover;') %>
  <h3 class="text-center">Bringing Joy to Every Home</h3>
  <p class="text-center">Experience the happiness of welcoming a loving pet into your family</p>
</div>
