<div class="container messenger"
  data-controller = "messenger-subscription"
  data-messenger-subscription-messenger-id-value="<%= @messenger.id %>"
>
  <h1>Chat</h1>
  <div class="messages" data-messenger-subscription-target="messages">
    <% @messenger.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
      <%= simple_form_for [@messenger, @message],
        html: { data: { action: "turbo:submit-end->messenger-subscription#resetForm" }, class: "d-flex" } do |f| %>
        <%= f.input :content,
        label: false,
        placeholder: "Message ##{@messenger.name}",
        wrapper_html: {class: "flex-grow-1"}
  %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
  </div>

</div>
