<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in?%>
  <div class="d-flex profile-parent">
<% case current_user.name
when 'Ciwan' %>
  <%= image_tag("Ciwan.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }) %>
<% when 'Terri' %>
  <%= image_tag("tierri.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }) %>
<% when 'J-C' %>
  <%= image_tag("JC.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }) %>
<% else %>
  <%= image_tag("JC.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }) %>
<% end %>      <p class="name"><%= current_user.name%></p>
  <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
      <%= button_to "log in", new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
  </div>


    <%= link_to image_tag("Logo.svg", class: "navbar-brand logo"), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none; background: none;">
      <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffbd59;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
            <%= simple_form_for :search, url: pets_path, method: :get do |f| %>
            <div class="column">
              <div class="row">
                <div class="col-lg-5 me-3">
                  <%= f.input :pet, label: 'Pet', placeholder: "Find your perfect companion" %>
                </div>
                <div class="col-lg-5">
                  <%= f.input :address, label: 'Address', placeholder: "Location"%>
                </div>
                  <div class="col-lg-2 ">
                <%= f.button :submit, "Search", class: "custom-button" %>
                </div>
              </div>
            </div>
            <% end %>
    <%else%>
    <%= link_to image_tag("Logo.svg", class: "navbar-brand logo"), root_path %>
    <%= button_to "log in", new_user_session_path, class: "dropdown-item" %>
    <%end%>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>

  </div>
</div>

<%=yield%>

<% if user_signed_in? %>
<nav class="navbar fixed-bottom bg-body-tertiary p-0" >
  <div class="container-fluid backgroundcolor ">
<nav class="navbar fixed-bottom bg-body-tertiary p-0" id="bottom-nav">
  <div class="container-fluid backgroundcolor p-3 pb-4" id="bottom-nav">
    <% if current_user.breeder %>
      <%= link_to dashboard_path do%>
        <i class="fa-solid fa-table-columns fa-lg" style="color: #ffffff;"></i>
      <%end%>
        <i class="fa-regular fa-envelope fa-lg" style="color: #ffffff;"></i>
      <%= link_to new_pet_path do%>
        <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i>
      <%end%>
      <%= link_to requests_requested_path do%>
        <i class="fa-regular fa-bell fa-lg" style="color: #ffffff;"></i>
      <%end%>
    <% else %>
      <i class="fa-regular fa-envelope fa-lg" style="color: #ffffff;"></i>
      <i class="fa-regular fa-heart fa-lg" style="color: #ffffff;"></i>
      <%= link_to requests_requested_path do%>
        <i class="fa-regular fa-bell fa-lg" style="color: #ffffff;"></i>
      <%end%>
    <%end%>
  </div>
</nav>
</nav>
<div class="main-content" style="margin-bottom: 60px;">
  </div>
<% end %>


  </div>
  </body>

</html>
