<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
        <i class="fa-regular fa-user mx-0" style="color: #000000;"></i> </button>

<%= link_to image_tag("Logo.svg"), root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <%if user_signed_in?%>
                <%= button_to "Log out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
              <%else%>
                <%= button_to "log in", new_user_session_path, class: "dropdown-item" %>
              <%end%>
            </div>
          </li>

          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>

  </div>
</div>

<%=yield%>
<nav class="navbar fixed-bottom bg-body-tertiary p-0">
  <div class="container-fluid backgroundcolor p-3">
<nav class="navbar fixed-bottom bg-body-tertiary p-0">
  <div class="container-fluid backgroundcolor p-2">
    <a href="/route1">
      <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
    </a>
    <a href="/route2">
      <i class="fa-regular fa-envelope" style="color: #000000;"></i>    </a>
    <a href="/route3">
      <i class="fa-regular fa-heart" style="color: #000000;"></i>
    </a>
    <a href="/route4">
      <i class="fa-regular fa-bell" style="color: #000000;"></i>
    </a>
  </div>
</nav>


  </div>
</nav>
  </body>

</html>
